.hover:hover {
  border-inline-start-color: blueviolet;
  -webkit-transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: now;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.iconos {
  position: relative;
  padding: auto;
}

div .dropdown-toggle::after {
  content: none;
  display: none;
  background-color: red;

}

div .dropstart .dropdown-toggle::before{
  content: none;
  display: none;
  background-color: red;
}

.validar{
  color: red;
}

.btnFacebook{
  background: none;
  border: none;
}