/* @font-face {
  font-family: myFirstFont;
  src: url(src/assets/fonts/Anton-Regular.ttf);
}

* {
  font-family: myFirstFont;
} */


.hover:hover {
  border-inline-start-color: blueviolet;
  -webkit-transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: now;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.iconos {
  position: relative;
  padding: auto;
}

div .dropdown-toggle::after {
  content: none;
  display: none;
  background-color: red;
}

div .dropstart .dropdown-toggle::before {
  content: none;
  display: none;
  background-color: red;
}

.validar {
  color: red;
}

.btnFacebook {
  background: none;
  border: none;
}

/* .fondo{
  background-image: url('https://data.1freewallpapers.com/detail/grand-teton-national-park-united-states-wyoming-beautiful-landscape.jpg');
 align-self: center; 
} */

.profile {
  --bs-gradient: linear-gradient(
    to right,
    #766df4 0%,
    #766df4 30%,
    #6a9bf4 100%
  );

  background-image: var(--bs-gradient) !important;
  height: 230px !important;
  border-radius: 10px 10px 0px 0px;
}

.profile2 {
  border-radius: 0px 0px 10px 10px;
}

.link {
  text-decoration: none;
}

.link2:hover {
  color: rgb(66, 215, 241);
}

.hoverIcon:hover {
  transform: scale(1.2);
}

.CusCard-left {
  border-radius: 20px;
  background: linear-gradient(180deg, #ff7e5f, #feb47b);
}

.nav-link:hover {
  color: rgb(66, 215, 241);
}
